h1 {
    background-color: antiquewhite;
    padding: 30px;
}

p{
    width: 450px;
}

/* .relative {
    position: relative;
    top: 300px;
    left: 100px;
} */

nav{
    position: inherit;
    bottom: 10;
}